.notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pinned-notes:not(:empty) {
  &::before,
  & + .other-notes::before {
    color: #5f6368;
    position: absolute;
    margin-top: -15px;
  }
  &::before {
    content: "pinned";
  }

  & + .other-notes:not(:empty) {
    margin: 40px 0;
    &::before {
      content: "other";
    }
  }
}

.modal-back {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #e5e5e5, $alpha: 0.75);
}
