.search-bar {
  padding: 0 10px;
  width: 100%;

  > .search-form {
    background-color: #f1f3f4;
    border-radius: 5px;
    max-width: 720px;

    > input {
      padding: 10px;
      width: 100%;
      font-size: 18px;
      background: none;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
}
