.auth_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth_card > h1 {
  margin: 20px 0;
  color: #505050;
  font-weight: 400;
}

.auth_buttons {
  margin-top: 20px;
}

.auth_buttons > button {
  font-family: Roboto;
  padding: 10px;
  color: #505050;
  background-color: #f1f3f4;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100px;
}

.auth_buttons > button:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}
.auth_buttons > button:disabled {
  opacity: 0.5;
}
