$text-color: #505050;

.auth_card {
  display: flex;
  flex-direction: column;
  align-items: center;

  > h1 {
    margin: 20px 0;
    color: $text-color;
    font-weight: 400;
  }
}

.auth_buttons {
  margin-top: 20px;

  > button {
    margin: 5px;
    padding: 10px;
    font-family: inherit;
    color: $text-color;
    background-color: #f1f3f4;

    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100px;

    &:hover {
      cursor: pointer;
      background-color: #e6e6e6;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}
