.empty {
  height: 60px;
}
.navbar-wrapper {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  border-bottom: 1px solid black;
}
nav {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.menu-and-logo {
  min-width: 230px;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu-and-logo > .menu-icon {
  font-size: 18px;
  margin: 0 5px;
  padding: 0 12px;
}

.menu-and-logo > .logo {
  font-size: 28px;
  font-weight: 100;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.menu-and-logo > .logo:hover {
  cursor: pointer;
}

.search-and-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-and-tools > .searchbar {
  width: 70%;
  padding: 10px;
  background-color: #f1f3f4;
  border-radius: 5px;
}

.search-and-tools > .searchbar > input {
  width: 100%;
  font-size: 18px;
  background: none;
  border: none;
}

.search-and-tools > .searchbar > input:focus {
  outline: none;
}

.tools > button.btn-logout {
  font-size: 14px;
  padding: 10px;
  border: none;
  background: none;
}
.tools > button.btn-logout:hover {
  cursor: pointer;
  background-color: #f1f3f4;
  border-radius: 5px;
}
